*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.wrapper{
    background-color: #f0f2ff;
    display: flex;
    height: 100vh;
}
.wrapper .section1{
    width: 10%;
    background-color: #171b36;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
}
.section1 .head{
    display: flex;
    color: #0cc5b7;
    align-items: center;
}
.head i{
    margin-right: 2px;
}
.head img{
    width: 20%;
}
.section1 .side-title{
    margin-top: 100px;
    display: flex;
    background-color: #0d99ff;
    padding: 5px;
    color: white;
    gap: 5px;
    border-radius: 6px;
}
.section1 .side-options{
    margin-top: 30px;
}
.side-options .option{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.side-options .option:hover{
    background-color: #0d9aff17;
}
.section1 .logout{
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0d9aff17;
    color: #fff;
    margin-top: 50px;
    font-size: 14px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}


.fa-solid{
    cursor: pointer;
}

/* the side bar ended*/

.section2{
    width: 90%;
    margin: 10px;
    max-height: calc(100vh - 10px);
    overflow: hidden;
    overflow-y: scroll;
}
.section2 .top-title{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-title p{
    font-size: 20px;
    padding: 15px;
}
.top-title span{
    font-weight: bold;
}

.main-body{
    display: flex;
}
.stat-info{
    width: 30%;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px;
}
.stat-info h2{
    font-weight: normal;
    font-size: 18px;
}
.stat-info .date{
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: lighter;
}
.shadow-box{
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
}
.top-box .header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.top-box .header p{
    font-weight: bold;
}
.top-box .header span{
    background-color: #0d9aff7a;
    padding: 0 5px;
    border-radius: 5px;
    color: #3b3b3b;
}
.top-box .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.top-box .price h1{
    font-size: 20px;
}
.top-box .price span{
    font-size: 14px;
}
.top-box .compaired{
    font-weight: light;
    font-size: 15px;
    padding: 6px;
    letter-spacing: 1px;
}
.top-box .price-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.top-box .price-bottom h2{
    font-size: 14px;
}
.top-box .chart{
    height: 80px;
    width: 80px;
    border: 10px solid red;
    border-radius: 50%;
    margin: 10px auto;
}
.chart-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.chart-info .sub-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sub-info .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.sub-info .circle1{
    background-color: #ff0000;
}
.sub-info .circle2{
    background-color: #008800;
}
.sub-info .circle3{
    background-color: blue;
}
.sub-main-body{
    margin-left: 10px;
    width: 70%;
}
.nav-header a{
    color: #3b3b3b;

}

/* filter icon styles*/
.nav-header .dash-filter{
    position: relative;
    background-color: #000;
}
.dash-filter .filter-options{
    padding: 10px;
    background-color: #f30101;
    position: absolute;
    top: 30px;
    left: 0;
}
/* .top-main-body{

} */
.sub-main-body .nav-header{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

.main-body2{
    margin-top: 50px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-msg{
    font-size: 14px;
    color: rgb(232, 3, 3);
}
.main-body2 h1{
    font-weight: normal;
    padding: 10px 0;
}
.main-body2 form input, select{
    width: 50%;
    padding: 8px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #eeeeeea9;
}
form select{
    width: 52%;
}
.main-body2 form input:hover{
    border: 2px solid #eee;
}
.main-body2 form input[type = "submit"]{
    background-color: #2a8cb7;
    color: #eee;
    width: 50%;
}
.main-body2 form input[type = "submit"]:hover{
    background-color: #1e7499;
    color: #eee;
    transition: 0.5s ease-in;
}
.datas{
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
.datas h1{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

table{
    width: 100%;
    text-align: center;
}
th{
    color: #bdbdbd;
    font-weight: normal;
}
table, th, td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}
th, td{
    border-bottom: 1px solid #b8b8b8;
    font-size: 12px;
    text-align: center;
}
td .circle{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
}
td i{
    padding: 0 5px;
}
td a i{
    color: rgb(228, 149, 3);
}
tbody .table-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-btn button{
    padding: 0;
    border: none;
    background-color: #fff;
}
.bottom-graph-body{
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
}
#myChart{
    width: 100%;
    height: 250px;
}


/* Book List */
.book-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.book-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 3px;
}
.book-info{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.book-info span{
    width: 70px;
    text-align: right;
}
.book-card img{
    width: 170px;
}
.book-operation{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.book-operation button, a{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    color: #eee;
}
.book-operation .edit{
    background-color: rgba(255, 167, 3, 0.856);
}
.book-operation .delete{
    background-color: rgba(255, 0, 0, 0.832);
}

/* Edit a Book*/
.book-edit-row{
    display: flex;
    gap: 10px;
}
.book-edit-row img{
    width: 150px;
}
.img-edit{
    display: flex;
    flex-direction: column;
}
.info-edit{
    display: flex;
    flex-direction: column;
    background-color: #008800;
}
.info-edit input{
    width: 100%;
}

/* users list table*/
.user-list{
    margin-top: 30px;
    background-color: #fff;
}
.user-list th, td{
    padding: 10px 0;
}
.user-list a{
    padding: 5px;
    color: #000;
    border-radius: 0;
}

@media (max-width: 880px) {
    .main-body{
        display: block;
        /* height: 90%;
        overflow: hidden;
        overflow-y: scroll; */
    }
    .stat-info{
        width: calc(100% - 30px);
    }
    .wrapper .section1{
        width: 40%;
    }
    .sub-main-body{
        margin-left: 0px;
        width: 100%;
    }
    .main-body2 input{
        width: 80%;
        padding: 8px;
    }

}
@media (max-width: 1060px) {
    .wrapper .section1{
        width: 25%;
    }
}
